/* ------------------------------------------------------------------------------
*
*  # Console component
*
*  Overrides for console component
*
*
* ---------------------------------------------------------------------------- */

.console
{
    font-family: monospace;
    font-size: 14px
}

.console .console-inner
{
    height: 250px;
    overflow: auto;
    padding: 0.5em;
    width: 100%;
}

.console .console-prompt-box
{
    font-family: monospace;
}

.console .console-focus .console-cursor
{
    font-weight: bold;
    margin-left: 2px;
}

.console .console-message-error
{
    font-family: monospace;
    font-weight: bold;
    padding: 0.1em;
}

.console .console-message-value
{
    font-family: monospace;
    padding: 0.1em;
}

.console .console-message-type
{
    font-family: monospace;
    padding: 0.1em;
}

.console .console-prompt-label
{
    font-weight: bold
}

/* --------------------------------------------------------------------------- */