/* ------------------------------------------------------------------------------
*
*  # Badges component also know as labels
*
*  Overrides for badges bootstrap component
*
*
* ---------------------------------------------------------------------------- */

.badge
{
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    padding: 0 8px 0 8px;
    text-transform: uppercase;
    vertical-align: middle;
}

.badge-striped
{
    border-left-width: 5px;
}

.badge-striped.badge-striped-right
{
    border-left-width: 2px;
    border-right-width: 5px;
}

.badge-striped,
.badge-striped.badge-icon
{
    border-radius: 0;
}

.badge-striped:hover,
.badge-striped:focus
{
    filter: alpha(opacity=40); /* For IE8 and earlier */
    opacity: 0.4;
}

.badge-icon
{
    border-radius: 2px;
    line-height: 1;
    padding: 4px;
}

.badge-icon > i
{
    margin-top: -1px;
    padding: 3px;
}

.badge-icon-lg
{
    font-size: 15px;
    padding: 9px;
}

.badge-icon-sm
{
    font-size: 13px;
    padding: 7px;
}

.badge-icon-xs
{
    font-size: 13px;
    padding: 4px;
}

.badge-rounded
{
    border-radius: 100px;
}

.badge-rounded:not(.badge-icon)
{
    padding-left: 8px;
    padding-right: 8px;
}

.badge-roundless
{
    border-radius: 0;
    vertical-align: middle;
}

.badge-block
{
    display: block;
    vertical-align: middle;
}

.badge-block.text-left
{
    font-weight: bold;
    margin-right: 0;
    text-align: left;
}

.badge-block.text-right
{
    font-weight: bold;
    margin-left: 0;
    text-align: right;
}

/* --------------------------------------------------------------------------- */