/* ------------------------------------------------------------------------------
*
*  # Progress bars component
*
*  Overrides for progress bars bootstrap component
*
*
* ---------------------------------------------------------------------------- */

.progress-sm .progress-bar,
.progress-xs .progress-bar,
.progress-xxs .progress-bar,
.progress-micro .progress-bar
{
    font-size: 0;
}

/* Progressbar Vertical */

.progress-vertical
{
    display: inline-block;
    height: 250px;
    margin-bottom: 0;
    margin-right: 20px;
    min-height: 250px;
    position: relative;
    width: 4px;
}

.progress-vertical .progress-bar
{
    width: 100%;
}

.progress-vertical-bottom
{
    display: inline-block;
    height: 250px;
    margin-bottom: 0;
    margin-right: 20px;
    min-height: 250px;
    position: relative;
    width: 4px;
}

.progress-vertical-bottom .progress-bar
{
    bottom: 0;
    position: absolute;
    width: 100%;
}

.progress-vertical.progress-sm,
.progress-vertical-bottom.progress-sm
{
    width: 8px;
}

.progress-vertical.progress-sm .progress-bar,
.progress-vertical-bottom.progress-sm .progress-bar
{
    font-size: 8px;
    line-height: 5px;
}

.progress-vertical.progress-md,
.progress-vertical-bottom.progress-md
{
    width: 15px;
}

.progress-vertical.progress-md .progress-bar,
.progress-vertical-bottom.progress-md .progress-bar
{
    font-size: 12px;
    line-height: 14px;
}

.progress-vertical.progress-lg,
.progress-vertical-bottom.progress-lg
{
    width: 20px;
}

.progress-vertical.progress-lg .progress-bar,
.progress-vertical-bottom.progress-lg .progress-bar
{
    font-size: 12px;
    line-height: 20px;
}

.progress .progress-default
{
    height: 18px;
}

.progress.progress-lg
{
    height: 22px;
}

.progress-md
{
    height: 22px;
}

.progress-sm
{
    height: 14px;
}

.progress-xs
{
    height: 10px;
}

.progress-xxs
{
    height: 6px;
}

.progress-micro
{
    height: 2px;
}

/* --------------------------------------------------------------------------- */