/* ------------------------------------------------------------------------------
*
*  # Buttons component
*
*  Overrides for buttons bootstrap component
*
*
* ---------------------------------------------------------------------------- */

.btn
{
    -moz-backface-visibility: hidden;
    -moz-border-radius: 3px;
    -moz-font-feature-settings: "calt=1, liga=1, clig=1, kern=1";
    -moz-font-feature-settings: "calt" 1, "liga" 1, "clig" 1, "kern" 1;
    -ms-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-font-feature-settings: "calt", "liga", "clig", "kern";
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Constantia", Verdana, Helvetica, Sans-Serif, serif;
    font-feature-settings: "calt", "liga", "clig", "kern";
    font-size: 1rem;
    font-style: oblique;
    font-weight: 900;
    line-height: 1.2rem;
    padding: .34rem 1rem;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: auto;
    z-index: 100;
}

.btn::-moz-focus-inner
{
    border: 0;
}

.btn:hover
{
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
}

.btn:focus
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group button span
{
    bottom: 3px;
    position: inherit;
    vertical-align: middle;
}

.btn-group label
{
    margin-bottom: 0;
}

.btn-group-sm button
{
    height: 24px;
}

.btn-group-sm button i
{
    font-size: 10px;
    position: inherit;
    text-align: center;
    top: -6px;
    vertical-align: middle;
}

.button-list button,
.button-list a
{
    margin: 5px 12px 5px 0;
}

.btn-lg
{
    font-size: 22px;
    padding: .75rem 1.5rem;
}

.btn-md
{
    font-size: 16px;
    padding: .50rem 1rem;
}

.btn-sm
{
    font-size: 12px;
    padding: .25rem .5rem .24rem .5rem;
}

.btn-xs
{
    font-size: 10px;
    padding: .10rem .2rem .10rem .2rem;
}

/*--------------------------------------------------------------------*/

.btn-circle
{
    border-radius: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

.btn-circle.btn-xs
{
    font-size: 12px;
    padding: .14rem .3rem;
}

.btn-circle.btn-sm
{
    font-size: 16px;
    padding: .25rem .5rem .24rem .5rem;
}

.btn-circle.btn-sm i
{
    margin-top: 5px
}

.btn-circle.btn-md
{
    font-size: 18px;
    padding: .80rem 1rem;
}

.btn-circle.btn-md i
{
    margin-top: 3px
}

.btn-circle.btn-lg
{
    font-size: 26px;
    padding: 1.2rem;
}

/*--------------------------------------------------------------------*/

.btn-rounded
{
    border-radius: 20px;
}

.btn-rounded.btn-lg
{
    font-size: 22px;
    padding: .75rem 1.5rem;
}

.btn-rounded.btn-sm
{
    font-size: 12px;
    padding: .25rem .5rem;
}

.btn-rounded.btn-xs
{
    font-size: 10px;
    padding: .25rem .5rem;
}

.btn-rounded.btn-md
{
    font-size: 16px;
    padding: 12px 35px;
}

/*--------------------------------------------------------------------*/

.btn-outline
{
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-outline-primary
{
    background: transparent none;
    border: 2px solid;
}

.btn-outline-secondary
{
    background: transparent none;
    border: 2px solid;
}

.btn-outline-info
{
    background: transparent none;
    border: 2px solid;
}

.btn-outline-success
{
    background: transparent none;
    border: 2px solid;
}

.btn-outline-warning
{
    background: transparent none;
    border: 2px solid;
}

.btn-outline-danger
{
    background: transparent none;
    border: 2px solid;
}

.btn-block
{
    display: block;
    width: 100%;
}

.btn .text-active
{
    display: none;
}

.btn.active .text-active
{
    display: inline-block;
}

.btn.active .text
{
    display: none;
}

.dropdown-item
{
    padding: 8px 1rem;
}

.dropdown-toggle
{
    margin-left: 4px
}

/*--------------------------------------------------------------------*/

.btn-social
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    font-weight: bold;
    height: 50px;
    line-height: 28px;
    overflow: hidden;
    padding: 10px 10px 10px 60px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-social > :first-child
{
    border-right: 2px solid transparent;
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 50px;
}

.btn-social.btn-lg
{
    height: 60px;
    line-height: 35px;
    padding-left: 80px;
}

.btn-social.btn-lg > :first-child
{
    font-size: 1.8em;
    line-height: 56px;
    width: 65px;
}

.btn-social.btn-sm
{
    height: 40px;
    padding-left: 50px;
}

.btn-social.btn-sm > :first-child
{
    font-size: 1.6em;
    line-height: 36px;
    width: 40px;
}

.btn-social.btn-xs
{
    height: 30px;
    line-height: 7px;
    padding-left: 46px;
}

.btn-social.btn-xs > :first-child
{
    font-size: 1.4em;
    line-height: 26px;
    width: 35px;
}

/*----------------------------------------------------------------------------------*/

.btn-social-icon
{
    height: 50px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50px;
}

.btn-social-icon > :first-child
{
    border-right: 1px solid transparent;
    bottom: 0;
    font-size: 1.6em;
    left: 0;
    line-height: 47px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 36px;
}

.btn-social-icon.btn-lg > :first-child
{
    font-size: 1.8em;
    line-height: 57px;
    width: 55px;
}

.btn-social-icon.btn-sm > :first-child
{
    font-size: 1.6em;
    line-height: 38px;
    width: 35px;
}

.btn-social-icon.btn-xs > :first-child
{
    font-size: 1.4em;
    line-height: 27px;
    width: 25px;
}

.btn-social-icon > :first-child
{
    border: none;
    text-align: center;
    width: 100%;
}

.btn-social-icon.btn-lg
{
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    width: 60px;
}

.btn-social-icon.btn-sm
{
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    width: 40px;
}

.btn-social-icon.btn-xs
{
    height: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 30px;
}

/* --------------------------------------------------------------------------- */