@font-face
{
	font-family: 'Quantico', sans-serif;
	font-weight: 400;
	src: url("Quantico-Regular.ttf");
}

@font-face
{
	font-family: 'Quantico', sans-serif;
	font-weight: 700;
	src: url("Quantico-Bold.ttf");
}