/* ------------------------------------------------------------------------------
*
*  # Page Helper - Gallery
*
*  HyperCube component
*
*
* ---------------------------------------------------------------------------- */

#gallery-header
{
    height: 100%;
    width: 100%;
}

#gallery-header-center
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#gallery-header-center-left
{
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 0;
}

#gallery-header-center-right
{
    float: right;
    height: 35px;
    line-height: 35px;
    margin-top: 0;
    margin-right: 30px;
}

.gallery-header-center-right-links
{
    -moz-transition: background 0.5s;
    -o-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 35px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    transition: background 0.5s;
}

.gallery-header-center-right-links:hover
{
    cursor: pointer;
}

#gallery-content
{
    float: left;
    margin-top: 4px;
    width: 100%;
}

#gallery-content-center img
{
    margin: 10px;
    width: 18.5%;
}

/*-----------------------------------------------------------------------------*/